/* ========================================
                        Basic Elements Styles
==========================================*/

* {
  box-sizing: border-box;
}

body {
  background-image: url("../images/background-image.jpg");
  background-color: grey;
  background-image: cover;
  text-align: center;
  font-size: 1.10em;
  font-family: 'Chewy', cursive;
  color: #09090A;
}

/* ---------------------- Header -------------------------*/

.name {
  margin: 0;
}

.main-header {
  padding: 25px 0px;
}

/*----------------- Main Section ------------------*/

img {
  max-width: 100%;
}

.profile {
  max-width: 100%;
  /*padding: 1em;*/
  line-height: 1.25em;
  font-size: 1.75em;
  color: #585859;
}

.skills {
  padding-bottom: 5px;
  background-color: grey;
}

/*------------------ footer -----------------------------*/

.main-footer {
  font-size: 1.10em;
  font-weight: bold;
  color: #505050;
  padding-top: 1em;
}

.footer-name {
  float: left;
}

.back-to-top {
  float: right;
}

.footer-nav {
  display: none;
}

.footer-name,
.back-to-top {
  background-color: #c0c0c0;
  padding: .5em;
  border-radius: 5px;
}

.footer-contact {
  background-color: #c0c0c0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px
}

/* ---------------- Navigation ------------------*/

.main-nav li {
  /*display: block;*/
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #c0c0c0;
  margin: 10px auto;
  border-radius: 5px;
}

a,
.main-nav a {
  text-decoration: none;
  display: block;
  color: #505050;
  font-weight: bold;
  text-align: center;
}

.main-nav a :hover {
  color: black;
}

/* ==========================================\
                              Basic Layout Containers
=============================================*/

.main-header,
.main-footer,
.footer-contact,
.profile,
.col {
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
}




/* ========================================
                        Media Queries
==========================================*/

@media (min-width: 768px){

  /*--------------------- layout 768px --------------------------*/
  .container,
  .profile  {
    width: 90%;
    margin: 0 auto;
    /*max-width: 100%;*/
  }

  /*--------------------------- header 768px -------------------------------*/

  .main-nav li {
    display: inline-block;
    padding: 15px;
    margin: 15px;
  }

  /*--------------------------- main section 768px -------------------------*/

  .profile img {
    float: right;
    max-width: 100%;
  }

  .col {
    width: 45%;
    float: left;
    padding: 10px;
    /*border: 2px;*/
    /*margin: 5px;*/
  }


  /*--------------------------- footer 768px -------------------------*/

.footer-nav {
  display: block;
  float: right;
}

.footer-name,
.footer-nav li {
  display: inline-block;
  background-color: #c0c0c0;
  padding: .5em;
  border-radius: 5px;
}

.back-to-top {
  display: none;
}


  /* --------------------------- Clearfix ---------------------------*/

  .clearfix::after {
    content: " ";
    display: table;
    clear: both;
  }


}

@media (min-width: 1024px) {

  /* --------------------------- Layout Containers ---------------------------*/

  .container {
    max-width: 1150px;
    margin: 0 auto;
    width: 90%;
  }

  /* --------------------------- Clearfix ---------------------------*/


  /* --------------------------- Main Section ---------------------------*/

  .col {
    width: 33%;
    margin: 0 auto;
    float: left;
  }

  /* --------------------------- Clearfix ---------------------------*/

}
